$navbar-default-bg: #D21F0B;


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ffffff;
  text-decdoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("railsbg.jpg");
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

#welcome {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #9e2d31;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

a {
  color: #8C0101;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer a:hover {
  color: #222222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin-left: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #d9d9d9;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

